/*FONTS IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/*GENERAL*/

html{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

body{
  background-image: url('../images/bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
}

main{
  box-sizing: content-box;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 9em;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

}

.izquierda{
  width: 48%;
}

.derecha{
  width: 52%;

}

h1{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 3.25em;
}

.izquierda p{
  color: #FFFFFF;
  margin-top: 2em;
  line-height: 1.7em;
}

.destacado{
  background-color: hsl(248, 32%, 49%);
  color: #FFFFFF;
  text-align: center;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0px 9px 2px 0px rgba(62, 60, 73, 0.27);
}

.destacado strong{
  font-weight: 700;
}

.formulario{
  margin-top: 2em;
  padding: 2.5em ;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 9px 2px 0px rgba(62, 60, 73, 0.27);
}


input{
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  margin: 1.25em 0 0.75em 0;
  height: 4em;
  padding: 0 2em;
  color: #00000073;
  font-weight: 600;
  border: solid 1px #0000001f;
}

input:focus{
  border-color: hsl(249, 10%, 26%) ;
  color: hsl(249, 10%, 26%) ;
  outline:0;
}

input[type="submit"]{
  background-color: hsl(154, 59%, 51%);
  color: #FFFFFF;
  font-weight: 700;
  border-bottom: 5px solid hsla(154, 79%, 24%, 0.26);
}

.sub-form{
  color: #00000073;
  text-align: center;
  font-size: 12px;
}

.sub-form a{
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

.error {
    text-align: right;
    color: hsl(0, 100%, 74%);
    font-style: italic;
    font-size: 12px;
}

footer{
  background-color: #FFFFFF;
  text-align: center;
  padding: 2em;
  line-height: 1.7em;
}

@media only screen and (max-width: 1024px) {
  main{
    flex-direction: column;
    justify-content: center;
    height: unset;
    padding: 10%;
  }

  .izquierda{
    width: 60%;
    margin-bottom: 3em;
  }
  .derecha{
    width: 100%;
  }

  .izquierda{
    text-align: center;
  }
}
@media only screen and (max-width: 414px) {
  main{
    flex-direction: column;
    justify-content: center;
    height: unset;
    padding: 25% 5%;
  }

.izquierda{
  width:100%;
}

h1{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2em;
}
.destacado{
  padding: 1.5em 4.5em;
  line-height: 1.7em;

}

.formulario{
  padding: 1.5em ;

}

input{
  margin: .5em 0;

}

.sub-form{
  padding: 0 3em;
  line-height: 1.7em;
}

}
